<p>favorites works!</p>

<div class="home-container">
  <h2>{{ name }}</h2>

  <div *ngIf="isLoading" class="loader">
    <p>Loading videos...</p>
  </div>

  <div class="video-grid" *ngIf="!isLoading">
    <div *ngFor="let video of videos" class="video-card">
      <h3>{{ video.title }}</h3>
      
      <iframe width="100%" height="250"
              [src]="getSafeUrl(video.url)"
              frameborder="0"
              allowfullscreen>
      </iframe>

    </div>
  </div>

    <div *ngIf="!isLoading && videos.length === 0">
    <p>No videos found. Start by uploading some!</p>
  </div>
</div>