<div class="auth-container">
  <div class="auth-card">
    <h2>Enter details to register</h2>
        <div *ngIf="errorMessage()" class="error-banner">
      <span class="icon">⚠️</span>
      {{ errorMessage() }}
    </div>
    <form (ngSubmit)="onRegister()">
      <input type="text" [(ngModel)]="user.username" name="username" placeholder="Name" required>
      <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
      <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
      
      <button type="submit">Sign up</button>
    </form>

    <p>Already have an account? <a routerLink="/login">Login here</a></p>
  </div>
</div>